:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1382px;
  height: 972px;
  margin: 0 auto;
  background: rgba(251, 231, 198, 0.71);
  overflow: hidden;
  border-radius: 12px;
}
.left-view {
  position: relative;
  width: 834px;
  height: 952px;
  margin: 0 0 0 26px;
  overflow: hidden;
}
.header {
  position: relative;
  width: 564px;
  height: 71px;
  margin: 28px 0 0 10px;
  z-index: 5;
  overflow: hidden;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  position: absolute;
  width: 120px;
  height: 48px;
  top: 1px;
  left: 0;
  z-index: 7;
}
.logo-1 {
  flex-shrink: 0;
  position: relative;
  width: 120px;
  height: 48px;
  background: url(./assets/images/f5142164-94d2-4ddb-80e8-c9a7aa88c18b.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
  overflow: hidden;
}
.titulo-da-pagina {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 47px;
  bottom: 14px;
  left: calc(50% - 158px);
  color: #ffaebc;
  font-family: Itim, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 47px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.informacoes {
  position: relative;
  width: 248px;
  height: 18px;
  margin: 506px 0 0 60px;
  z-index: 15;
}
.apenas-letras-minusculas {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0;
  left: 20px;
  color: #495057;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.800000011920929;
  z-index: 16;
}
.bi-exclamation-circle-fill {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  background: url(./assets/images/9e37aab0-6f94-45ad-87e1-1776a311a7fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
  overflow: hidden;
}
.butoes-left {
  position: relative;
  width: 678px;
  height: 67px;
  margin: 104px 0 0 10px;
  z-index: 9;
}
.btn {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 328px;
  height: 67px;
  top: 0;
  left: 0;
  padding: 24px 24px 24px 24px;
  cursor: pointer;
  background: #ffaebc;
  border: none;
  z-index: 10;
  border-radius: 24px;
}
.button {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 19px;
  color: #0a3871;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 11;
}
.btn-2 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 328px;
  height: 67px;
  top: 0;
  left: 350px;
  padding: 24px 24px 24px 24px;
  cursor: pointer;
  background: #ffaebc;
  border: 1px solid #ffaebc;
  z-index: 12;
  border-radius: 24px;
}
.button-3 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 19px;
  color: #0a3871;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 13;
}
.frame {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 328px;
  height: 67px;
  top: 0;
  left: 350px;
  padding: 0 0 0 0;
  z-index: 14;
}
.frame-input {
  position: absolute;
  width: 784px;
  height: 458px;
  top: 129px;
  left: 20px;
  z-index: 2;
}
.input-text {
  position: absolute;
  width: 784px;
  height: 458px;
  top: 0;
  left: 0;
  background: rgba(251, 231, 198, 0.71);
  z-index: 3;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.lorem-ipsum-dolor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 680px;
  height: 288px;
  top: 93px;
  left: calc(50% - 340px);
  color: #0a3871;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  z-index: 4;
}
.frame-4 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 248px;
  height: 18px;
  top: 532px;
  left: 20px;
  padding: 0;
  z-index: 1;
}
